html, body {
    font-family: 'Arimo', sans-serif;
}

h1, h2, h3 {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 8vw;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.15rem;
}

nav ul a:hover {
    background-color: transparent;
}

.black-page {
    background: #000000;
    margin-right: 0;
}

.brand-logo {
    font-family: 'Pacifico', cursive;
}

.left-page {
    padding: 0 0 0 5vw;
    min-height: 33vw;
}

.right-page {
    padding-right: 5vw;
    min-height: 33vw;
}

.page h1 {
    margin-bottom: 0;
}

#aboutme {
    margin-top: 40vw;
}

/* Landing Page START */
.overlay {
    color: #F8F8FF;
    margin-left: 1rem;
}

#name {
    margin: 2rem 0 0 0;
}

#whoami ul {
    margin: 0;
}

#whoami ul li {
    display: inline;
    padding-right: 2vw;
    white-space: nowrap;
    font-size: 3.25vw;
}

#scroll-down {
    position: absolute;
    left: 45vw;
    top: 45vw;
}

video#bgvid {
    position: absolute;
    top: 30vw;
    left: 50vw;
    max-width: 100vw;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../assets/loading.png) no-repeat;
    background-size: cover;
}
/* Landing Page END */

#nav-mobile li {
    padding-top: 7.5px;
}

/* Text-on-hover Effect START*/
.project-board {
    list-style-type: none;
    margin: 0;
    padding: 0 5vw 0 5vw;
    text-align: center;
}

.project-board li {
    display: inline-block;
    height: 212px;
    width: 384px;
    margin: 0 1rem 1rem 0;
    position: relative;
}

.project-board li:hover span.text-content {
  opacity: 1;
}

.text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
}

.text-content {
    background: rgba(0,0,0,0.75);
    color: white;
    cursor: pointer;
    display: table;
    height: 212px;
    width: 384px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 2.5% 0 2.5%;
}
/* Text-on-hover Effect END*/